@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #DDEEE8;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #DDEEE8;
}

.nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    margin: 5px;
    width: 100%;
    overflow: auto;
    color: #326755;
}

.title{
    font-size: 23px;
    color: #326755;
    display:flex;
    align-items: center;
    justify-content: center;
}

/* Home Start */
.home {
    height: calc(100vh - 80px);
    width: 100%;
}
.container {
    position: relative;
    width: 300%;
    display: flex;
    transition: all 1s ease;
    transform: translateX(-100px);
}
.container img {
    position: relative;
    height: 800px;
    align-items: center;
    justify-content: center;
}

.icons{
    background: transparent;
    width: fit-content;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    gap: 10px;
    margin: auto;
}

.icon{
    width: 50px;
    height: 50px;
    border: 1px solid #326755;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/* Home End */

/*.productlist{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: black;
    margin-top: 25px;
}*/

/* Account Start */

.col{
    padding-top: 60px;
    padding-left: 60px;
}

.col h1{
    font-size: 36px;
    font-weight: bold;
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;
}

.login h2{
    margin-top: 23px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.login h3{
    margin-top: 23px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.login form{
    font-size: 16px;
    display: flex;
    text-align: left;
    justify-content: left;
}

.textbox{
    position: relative;
    width: 100%;
}

.login form input{
    width: 100%;
    height: 60px;
    outline: none;
    font-size: 16px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    /*background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.1);*/
    padding: 0 20px 0 50px;
    border-color: cornflowerblue;
}
.login button{
    cursor: pointer;
    background: #326755;
    color: white;
    border: 0;
    letter-spacing: 2px;
    margin-top: 26px;
    font-weight: 600;
    font-size: 18px;
    left: 60px;
    display: flex;
    border-radius: 16px;
    font-family: 'Poppins', sans-serif;
}

.login a{
    text-decoration: none;
    text-align: left;
    padding-left: 160px;
    margin-bottom: 100px;
    font-size: 16px;
    left: 60px;
    display: grid;
}

.col-2{
    padding-top: 0;
    padding-left: 960px;
}

.col-2 h1{
    text-align: left;
    justify-content: left;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.reg h2{
    text-align: left;
    justify-content: left;
    margin-top: 23px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.reg form{
    font-size: 16px;
    display: flex;
    text-align: left;
    justify-content: left;
}

.reg h3,
.reg h4,
.reg h5,
.reg h6{
    text-align: left;
    justify-content: left;
    margin-top: 23px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.reg h7{
    top: 20px;
    text-align: left;
    justify-content: left;
    margin-top: 23px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.reg form{
    font-size: 16px;
    display: flex;
    text-align: left;
    justify-content: left;
}

.textbox{
    position: relative;
    width: 100%;
}

.reg form input{
    width: 100%;
    height: 60px;
    outline: none;
    font-size: 16px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    /*background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.1);*/
    padding: 0 20px 0 50px;
    border-color: cornflowerblue;
    text-align: left;
    justify-content: left;
}

.reg button{
    cursor: pointer;
    background: #326755;
    color: white;
    border: 0;
    letter-spacing: 2px;
    margin-top: 26px;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    border-radius: 16px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    justify-content: left;
}

/* Account End */

.App{
    display: flex;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.information input {
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin: 5px;
}

.information button {
    width: 320px;
    height: 50px;
    margin-top: 15px;
}

.information button:hover{
    cursor: pointer;
}


/* COLLECTION START */

.collection h1{
    text-align: center;
    justify-content: center;
    margin-top: 26px;
    font-size: 18px;
    color: #326755;
    font-weight: lighter;
}

.collection p {
    text-align: center;
    justify-content: center;
    margin-top: 16px;
    font-size: 16px;
    color: #326755;
}

.hr{
    height: 5px;
}
.collection h2{
    text-align: right;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 12px;
    color: #326755;
    font-weight: lighter;
}

/*.collection h3,
.collection h4,
.collection h5,
.collection h6
{
    font-size: 23px;
    display:inline;
    justify-content: space-between;
    margin: 50px;
    right: 40px;
    align-items: center;
    text-align: center;
    color: #326755;
}*/

.item-1{
    margin-top: 16px;
    text-align: center;
    justify-content: space-between;
    font-size: 23px;
    color: #326755;
}

.item-2,
.item-3,
.item-4{
    margin-top: 16px;
    color: #326755;
    font-size: 23px;
    text-align: center;
}

/* COLLECTION END */


/* ABOUT US START */
.about h1 {
    margin-top: 26px;
    font-size: 18px;
    color: #326755;
    font-weight: lighter;
    text-align: center;
    justify-content: center;
}

.p-1 p {
    margin-top: 20px;
    font-size: 16px;
    color: #326755;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.p-2 p{
    margin-right: 20px;
    font-size: 16px;
    color: #326755;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.p-3 p{
    margin-right: 20px;
    font-size: 16px;
    color: #326755;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.about h2 {
    margin-top: 32px;
    font-size: 20px;
    color: #326755;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.cover{
    margin-top: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.about h3 {
    margin-top: 32px;
    font-size: 20px;
    color: #326755;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}
/* ABOUT US END */


/* PRODUCT VIEW START*/
.shop{
    text-align: center;
    justify-content: center;
    padding: 14px;
}
.shop h1 {
    margin-top: 26px;
    font-size: 18px;
    color: #326755;
    font-weight: lighter;
    text-align: center;
    justify-content: center;
}

.shop input{
    padding: 12px;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    width: 50%;
    height: 20px;
    outline: none;
    font-size: 16px;
    border-radius: 8px;
}

.show h2{
    text-align: left;
    justify-content: left;
    margin-top: 23px;
    font-size: 16px;
    font-weight: lighter;
    color: #326755;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.prod-1,
.prod-2,
.prod-3{
    text-align: left;
    justify-content: left;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 30px;
}
.prod-1 h3,
.prod-2 h4,
.prod-3 h5{
    font-size: 16px;
    color: #326755;
    text-align: left;
    justify-content: left;
}

.prod-1 p,
.prod-2 p,
.prod-3 p{
    color: #326755;
    font-size: 14px;
    text-align: left;
    justify-content: left;
}



/* PRODUCT VIEW END*/