@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #DDEEE8;
    box-sizing: content-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #DDEEE8;
}

.nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    margin: 5px;
    width: 100%;
    overflow: auto;
    color: #326755;
}

.title{
    font-size: 23px;
    color: #326755;
    display:flex;
    align-items: center;
    justify-content: center;
}

/* Home Start */
.home {
    height: calc(100vh - 80px);
    width: 100%;
}
.container {
    position: relative;
    width: 300%;
    display: flex;
    transition: all 1s ease;
    transform: translateX(-100px);
}
.container img {
    position: relative;
    height: 800px;
    align-items: center;
    justify-content: center;
}

.icons{
    background: transparent;
    width: fit-content;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    gap: 10px;
    margin: auto;
}

.icon{
    width: 50px;
    height: 50px;
    border: 1px solid #326755;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/* Home End */



.productlist{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: black;
    margin-top: 25px;
}

/* Account Start */

.col{
    padding-top: 60px;
    padding-left: 60px;
}

.col h1{
    font-size: 36px;
    font-weight: bold;
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;
}

.login h2{
    margin-top: 23px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.login h3{
    margin-top: 23px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.login form{
    font-size: 16px;
    display: flex;
    text-align: left;
    justify-content: left;
}

.textbox{
    position: relative;
    width: 100%;
}

.login form input{
    width: 100%;
    height: 60px;
    outline: none;
    font-size: 16px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    /*background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.1);*/
    padding: 0 20px 0 50px;
    border-color: cornflowerblue;
}
.login button{
    cursor: pointer;
    background: #326755;
    color: white;
    border: 0;
    letter-spacing: 2px;
    margin-top: 26px;
    font-weight: 600;
    font-size: 18px;
    left: 60px;
    display: flex;
    border-radius: 16px;
    font-family: 'Poppins', sans-serif;
}

.login a{
    text-decoration: none;
    text-align: left;
    padding-left: 160px;
    margin-bottom: 100px;
    font-size: 16px;
    left: 60px;
    display: grid;
}

.col-2{
    padding-top: 0;
    padding-left: 960px;
}

.col-2 h1{
    text-align: left;
    justify-content: left;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.reg h2{
    text-align: left;
    justify-content: left;
    margin-top: 23px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.reg form{
    font-size: 16px;
    display: flex;
    text-align: left;
    justify-content: left;
}

.reg h3,
.reg h4,
.reg h5,
.reg h6{
    text-align: left;
    justify-content: left;
    margin-top: 23px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.reg h7{
    top: 20px;
    text-align: left;
    justify-content: left;
    margin-top: 23px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.reg form{
    font-size: 16px;
    display: flex;
    text-align: left;
    justify-content: left;
}

.textbox{
    position: relative;
    width: 100%;
}

.reg form input{
    width: 100%;
    height: 60px;
    outline: none;
    font-size: 16px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    /*background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.1);*/
    padding: 0 20px 0 50px;
    border-color: cornflowerblue;
    text-align: left;
    justify-content: left;
}

.reg button{
    cursor: pointer;
    background: #326755;
    color: white;
    border: 0;
    letter-spacing: 2px;
    margin-top: 26px;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    border-radius: 16px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    justify-content: left;
}

/* Account End */

.App{
    display: flex;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.information input {
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin: 5px;
}

.information button {
    width: 320px;
    height: 50px;
    margin-top: 15px;
}

.information button:hover{
    cursor: pointer;
}