.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.information input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.information button {
  width: 320px;
  height: 50px;
  margin-top: 15px;
}

.information button:hover{
  cursor: pointer;
}